<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">

    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Dataset",
        "name": "AgendaVue",
        "about": "Página web en la que se almacenan contactos",
        "educationalUse": "Proyecto grupal",
        "genre" : "Informática"
    }

</script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contactos">Contactos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nuevo">Añadir contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca de...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contactos Grid Section -->
    <section id="contactos">
        <div class="container" id="VueJS">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contactos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div>
            <div class="row">
                <div class="col-xs-4">
                    <h4>Nombre</h4>
                </div>
                <div class="col-xs-4">
                    <h4>Email</h4>
                </div>
                <div class="col-xs-3">
                    <h4>Teléfono</h4>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li v-for="c in contactos">
                        <div class="col-xs-4">
                            <p>{{c.nombre}}</p>
                        </div>
                        <div class="col-xs-4">
                            <p>{{c.email}}</p>
                        </div>
                        <div class="col-xs-3">
                            <p>{{c.telefono}}</p>
                        </div>
                        <div class="col-xs-1">
                              <button @click="eliminarContacto(contactos.indexOf(c))" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <div>
              <div class="row">
                  <div class="col-xs-12">
                      <p v-if="contactos.length===0">No se ha encontrado ningún contacto.</p>
                  </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Añadir nuevo Section -->
    <section id="nuevo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Añadir contacto</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" @submit="anadirContacto" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nombre</label>
                                <input v-model = "nuevoNombre" type="text" class="form-control" placeholder="Nombre" id="name">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input v-model = "nuevoEmail" type="email" class="form-control" placeholder="Email" id="email">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Teléfono</label>
                                <input v-model = "nuevoTelefono" type="tel" class="form-control" placeholder="Número de teléfono" id="phone">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button v-bind:disabled="(nuevoNombre.length === 0 || nuevoEmail.length === 0 || nuevoTelefono.length === 0)" @click="anadirContacto" type="submit" class="btn btn-success btn-lg">Añadir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de...</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>AgendaVue es un proyecto simple en VueJS.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyleft &copy; e-ghost 2019
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!-- Vue -->
    <script src="js/vue.js"></script>   

    <script type="text/javascript">
        var contactoVue = new Vue({
            el: '#VueJS',
            data: {
                nuevoNombre:'',
                nuevoEmail:'',
                nuevoTelefono:'',
                contactos:[
                {
                    nombre:'Shelly de Killer',
                    email:'de.killer@deusto.es',
                    telefono:'666666666'
                },
                ]
            },

            methods:{
                eliminarContacto : function(index) {
                    this.contactos.splice(index, 1);
                } 
            }
        })

        var formularioVue = new Vue({
            el: '#contactForm',
            data: {
                nuevoNombre:'',
                nuevoEmail:'',
                nuevoTelefono:''
            },

            methods: {
                anadirContacto: function(event) {
                    contactoVue.contactos.push({nombre : this.nuevoNombre, email : this.nuevoEmail, telefono : this.nuevoTelefono})
                    this.nuevoNombre = '';
                    this.nuevoEmail = '';
                    this.nuevoTelefono = '';
                    
                    event.preventDefault();
                }
            }
        })
    </script>

</body>

</html>
