<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Detalle de la pizza</title>
</head>

<body>
    <div id="content">
        <h1>Pizzas</h1>
        <h2>Datos de la pizza</h2>
        {% if pizza %}
            <ul>
                <li>
                    {{ pizza.nombre}}
                </li>
                <br>
                <li>
                    <a href="/mammamiaapp/tiposmasa/{{ pizza.tipoMasa.id }}/">Tipo de masa: {{ pizza.tipoMasa }}</a>
                </li>
                <br>
                <li>
                    Ingredientes: <br/>
                    <ul>
                    {% for i in pizza.ingredientes.all %} 
                    <li><a href="/mammamiaapp/ingredientes/{{i.id}}/">{{ i }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <br>
                <li>
                    Precio: {{ pizza.precio}} €
                </li>
            </ul>
        {% else %}
            <p>No existe esta pizza.</p>
        {% endif %}
    </div>
</body>

</html>