<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Detalle del tipo de masa</title>
</head>

<body>
    <div id="content">
        <h1>Tipos masa</h1>
        <h2>Datos del tipo de masa</h2>
        {% if lista_pizzas %}
            <ul>
                <li>
                    {{ tipomasa.nombre}}
                </li>
                <br>
                <li>
                    {% if lista_pizzas %}
                    <p>Pizzas que usan este tipo de masa:</p>
                    <ul>
                        {% for p in lista_pizzas %}
                            {% if p.tipoMasa.id == tipomasa.id %}
                                <li><a href="/mammamiaapp/pizzas/{{ p.id }}">{{ p.nombre}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>No hay pizzas asociadas a este tipo de masa</p>
                    {% endif %}
                </li>
            </ul>
        {% else %}
            <p>No existe este tipo de masa.</p>
        {% endif %}
    </div>
</body>

</html>