{% extends "base.html" %}
{% load static %}

{% block title %} Nuestras pizzas {% endblock %}


{% block content %}
<script class="u-script" type="text/javascript" src="{% static 'js/Pizzas.js' %}" defer=""></script>
          {% if lista_pizzas %}
             <ul>
             {% for p in lista_pizzas %}
                 <li>
                     <a href="/pizzas/{{ p.id }}">{{ p.nombre}}</a>
                 </li>
                 <br>
             {% endfor %}
             </ul>
         {% endif %}
{% endblock %}