{% extends "base.html" %}



{% block title %} Nuestros ingredientes {% endblock %}
    
          {% block content %} 
          {% if lista_ingredientes %}
             <ul>
             {% for i in lista_ingredientes %}
                 <li>
                     <a href="/ingredientes/{{ i.id }}">{{ i.nombre}}</a>
                 </li>
                 <br>
             {% endfor %}
             </ul>
         {% else %}
         <p>No hay ingredientes creados.</p>
         {% endif %}
         {% endblock %}
      